@use 'mixins.scss';

section.buttons {
    position: fixed;
    bottom: 7%;
    @include mixins.center();
  
    div.wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: minmax(50px, auto);
      text-align: center;
    }
  
    button {
      box-sizing: border-box;
      border: none;
      width: 80%;
      height: 100%;
      border-radius: 10px;
      font-size: 1.1rem;
      font-weight: bold;
      color: 'lightgreen';
      cursor: pointer;
      @include mixins.scaleOnHover(1.05);
      &#sort {
        background: 'lightgreen';
      }
      &#unsort {
        background: linear-gradient(to right, #b80000, #d41e1e);
      }
    }
  }