/* 023a68 */
@font-face {
  font-family: "quick";
  src: url("../fonts/Quicksand-Regular.ttf");
}
header {
  color: #02457A;
  margin-bottom: 20px;
}
header h1 {
  text-align: center;
  font-size: 80px;
}

div#settings {
  height: 100vh;
  width: 400px;
  left: -400px;
  top: 0;
  position: fixed;
  transition: all 0.4s ease;
  z-index: 5;
  background: rgba(22, 22, 22, 0.95);
  font-family: "Livvic", sans-serif;
  text-align: center;
  color: #fff;
  display: block;
}
div#settings div#close-menu {
  cursor: pointer;
  margin: 15px 0 15px 0;
  color: red;
}
div#settings div#close-menu {
  transition: all 0.2s ease-in-out;
}
div#settings div#close-menu:hover {
  transform: scale(1.2);
}
div#settings h2 {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 15px;
  border-bottom: 1px solid #fff;
  padding-bottom: 7px;
}
div#settings input {
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
}
div#settings input#timeout {
  width: 40%;
}
div#settings div.errors, div#settings div.success {
  width: 90%;
  margin: 0 auto;
  height: 40px;
  margin-top: 50px;
}
div#settings button {
  cursor: pointer;
  box-sizing: border-box;
  border: 0;
  height: 32px;
  width: 50%;
  margin: 10px auto 0 auto;
  background: "lightgreen";
  border-radius: 5px;
  color: #fff;
}
div#settings button {
  transition: all 0.2s ease-in-out;
}
div#settings button:hover {
  transform: scale(1.1);
}

section.animation-zone {
  position: relative;
  height: 60vh;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
section.animation-zone div.array-container {
  display: inline-flex;
  flex: 0 0 auto;
  position: absolute;
}
section.animation-zone div.array-container div.array-element {
  height: 40px;
  width: 40px;
  margin: 0 5px 0 1px;
  background: #018ABE;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12), 0px 5px 0 #027fb1;
}
section.animation-zone div.array-container div.array-element p {
  font-size: 14px;
  line-height: 14px;
}

section.buttons {
  position: fixed;
  bottom: 7%;
  width: 90%;
  margin: 0 auto;
}
section.buttons div.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(50px, auto);
  text-align: center;
}
section.buttons button {
  box-sizing: border-box;
  border: none;
  width: 80%;
  height: 100%;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: "lightgreen";
  cursor: pointer;
}
section.buttons button {
  transition: all 0.2s ease-in-out;
}
section.buttons button:hover {
  transform: scale(1.05);
}
section.buttons button#sort {
  background: "lightgreen";
}
section.buttons button#unsort {
  background: linear-gradient(to right, #b80000, #d41e1e);
}

* {
  font-family: "quick";
}

body {
  background: #D6EBEE;
}

main {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 570px) {
  h1 {
    font-size: 1.2rem;
  }

  div#settings {
    width: 300px;
  }

  section.animation-zone div.array-container div.array-element {
    width: 30px;
    height: 30px;
  }
  section.animation-zone div.array-container div.array-element p {
    font-size: 12px;
    line-height: 8px;
  }
}

/*# sourceMappingURL=main.css.map */
